<!DOCTYPE html>
<html ng-app= "formulario">
<title>Formulario Estudiantes</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<body>

  <span class="md-display-1" layout-align = "center center">Ficha de Alumno</span>
  <md-card ng-controller = "formController" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom ng-cloak md-selected = "tabIndex">
      <md-tab label="Datos Generales">

        <md-card-title>

          <md-card-title-text>
            <span class="md-headline">Datos Generales</span>
         </md-card-title-text>

        </md-card-title>

        <md-card-content>
          <md-divider></md-divider>
          <div layout ="row"><span class = "md-subhead">Nombre y Apellidos: </span></div>
        
          <div layout = "row" layout-margin>
            <md-input-container>
            
              <label>Apellido Paterno</label>
              <input type="text" name="apellidoPaterno" required ng-model = "nuevoRegistro.apellidoPaterno">
            </md-input-container>

            <md-input-container>
              <label>Apellido Materno</label>
              <input type="text" name="apellidoMaterno" required ng-model = "nuevoRegistro.apellidoMaterno">
           </md-input-container>
        

          <md-input-container>
              <label>Nombre(s)</label>
             <input type="text" name="Nombres" required ng-model="nuevoRegistro.nombres">
            </md-input-container>
          </div>

          <span class ="md-subhead">Fecha de Nacimiento: </span>
          <div layout = "row" layout-margin>
            <md-input-container>
              <md-datepicker ng-model="nuevoRegistro.fecha" md-placeholder="Fecha" required></md-datepicker>
           </md-input-container>
  
            <md-input-container>
              <label>Edad: </label>
              <input type="text" name="edad" md-placeholder="Edad" required ng-model="nuevoRegistro.edad">
            </md-input-container>
           </div>

          <span class ="md-subhead">Escuela Normal y Licenciatura: </span>
          <div layout ="row" layout-margin>
          
          ////////////Falta el selector de licenciaturas

          
          ///////Selector de Normales
          </div>

          <span class="md-subhead">Teléfonos: </span>
          <div layout="row" layout-margin>
            <md-input-container>
              <label>Teléfono de Casa</label>
              <input type="text" name="telefonoCasa" required ng-model="nuevoRegistro.telefonoCasa">
            </md-input-container>
            <md-input-container>
              <label>Teléfono Celular</label>
              <input type="text" name="telefonoCelular" required ng-model="nuevoRegistro.telefonoCelular">
           </md-input-container>
          </div>

          <span class="md-subhead">Mail y Redes Sociales</span>
          <div layout ="row" layout-margin>
            <md-input-container>
              <label>Correo Electrónico</label>
              <input type="email" name="mail" ng-model="nuevoRegistro.mail" required>
            </md-input-container>
            <md-input-container>
              <label>Nombre de Facebook</label>
              <input type="text" name="facebook" required ng-model="nuevoRegistro.face">
            </md-input-container>
            <md-input-container>
              <label>Twitter</label>
              <input type="text" name="twitter" required ng-model="nuevoRegistro.twitter">
            </md-input-container>
          </div>

          <span class="md-subhead">Tipo Sanguíneo</span>
          <div layout="row" layout-margin>
            <md-radio-group ng-model ="nuevoRegistro.tipoSanguineo">
              <md-radio-button value="a+">A+</md-radio-button>
              <md-radio-button value="a-">A-</md-radio-button>
              <md-radio-button value="b+">B+</md-radio-button>
              <md-radio-button value="b-">B-</md-radio-button>
              <md-radio-button value="ab+">AB+</md-radio-button>
              <md-radio-button value="ab-">AB-</md-radio-button>
              <md-radio-button value="o+">O+</md-radio-button>
              <md-radio-button value="o-">O-</md-radio-button>
            </md-radio-group>
          </div>


          <md-button type="button" ng-click = "nextTab()">Siguiente</md-button>


    </md-card-content>
        </md-tab>

        <md-tab label="Datos Socioeconómicos">

    <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Datos Socioeconómicos</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-divider></md-divider>
        <span class ="md-subhead">¿Cuál es tu lugar de procedencia?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta11" required ng-model="nuevoRegistro.respuesta11">
          </md-input-container>
        </div>
        <span class ="md-subhead">¿Cuál es tu dirección actual?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta12" required ng-model="nuevoRegistro.respuesta12">
          </md-input-container>
        </div>
        <span class="md-subhead">¿Cuál es la ocupación de tus padres?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Padre:</label>
            <input type="text" name="respuesta13" required ng-model="nuevoRegistro.respuesta13">
          </md-input-container>
            <md-input-container>
              <label>Madre</label>
              <input type="text" name="respuesta131" required ng-model=nuevoRegistro.respuesta131>
            </md-input-container>
          </div>
          <span class ="md-subhead">¿Quién es el responsable económico de tu casa?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta14" required ng-model="nuevoRegistro.respuesta14">
          </md-input-container>
        </div>
        <span class ="md-subhead">¿Quién se hace responsable de aportar económicamente para tus estudios?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta15" required ng-model="nuevoRegistro.respuesta15">
          </md-input-container>
        </div>
      </md-card-content>

      <md-button type="button" ng-click = "nextTab()">Siguiente</md-button>
          
        </md-tab>

        <md-tab label ="Datos Académicos">
          
          <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Datos Académicos</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <md-divider></md-divider>
      <span class ="md-subhead">¿En dónde estudiaste la preparatoria o bachillerato?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta21" required ng-model="nuevoRegistro.respuesta21">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Cuál fue tu promedio?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta22" required ng-model="nuevoRegistro.respuesta22">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Consideras que tu promedio es reflejo de lo que has aprendido?</span>

        <div class ="md-subhead">
          <md-radio-group ng-model ="nuevoRegistro.promediosn23">
            <md-radio-button value="si">Sí</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>

          <md-input-container>
            <label>¿Por qué?</label>
            <input type="text" name="respuesta23" required ng-model="respuesta23">
          </md-input-container>
        </div>
  
        <span class ="md-subhead">¿Qué actividades escolares disfrutaste más en la preparatoria o bachillerato?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta24" required ng-model="nuevoRegistro.respuesta24">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Qué actividades escolares te desagradaban más?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta25" required ng-model="nuevoRegistro.respuesta25">
          </md-input-container>

        </div>

        <span class ="md-subhead">¿Cuáles crees que son tus fortalezas en la escuela?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta26" required ng-model="nuevoRegistro.respuesta26">
          </md-input-container>
        </div>

        <span class ="md-subhead">Menciona algún evento de éxito escolar que hayas experimentado:</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta27" required ng-model="nuevoRegistro.respuesta27">
          </md-input-container>
        </div>

        <span class ="md-subhead">Menciona un mal momento por el que pasaste en la escuela:</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta28" required ng-model="nuevoRegistro.respuesta28">
          </md-input-container>
        </div>

    </md-card-content>

    <md-button type="button" ng-click = "nextTab()">Siguiente</md-button>

        </md-tab>



        <md-tab label ="Personal y Familiar">
          <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Información personal y familiar</span>
      </md-card-title-text>
    </md-card-title>
      

      <md-card-content>
        <md-divider></md-divider>

        <span class ="md-subhead">¿Cuántos miembros constituyen tu familia?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta31" required ng-model="nuevoRegistro.respuesta31">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Cuál es el último grado de estudio de tus padres?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Padre</label>
            <input type="text" name="respuesta32padre" required ng-model="nuevoRegistro.respuesta32padre">
          </md-input-container>

          <md-input-container>
            <label>Madre</label>
            <input type="text" name="respuesta32madre" required ng-model="nuevoRegistro.respuesta32madre">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Qué opinión tienen en tu familia acerca de estudiar esta carrera?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta33" required ng-model="nuevoRegistro.respuesta33">
          </md-input-container>
        </div>

        <span class ="md-subhead">¿Padeces alguna enfermedad que te obligue a seguir un determinado tratamiento médico?</span>
        <div layout ="row" layout-margin>
          <md-input-container>
            <label>Respuesta</label>
            <input type="text" name="respuesta34" required ng-model="nuevoRegistro.respuesta34">
          </md-input-container>
        </div>

      </md-card-content>

      <md-button type="submit" ng-click = "guardarDB()">Guardar</md-button>
        </md-tab>


      </md-tabs>
  </md-card>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.10/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.8/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.js"></script>

    <script type="text/javascript" src="app.js"></script>
</body>
</html>
